.bg-pink {
    background-color: #e20074 !important;
}

.text-pink {
    color: #e20074 !important;
}

.bg-gray {
    background-color: #262626 !important;
}

body {
    font-size: large;
    font-family: TeleNeoWeb-Regular, sans-serif !important;
}

.focus:hover {
    text-decoration: underline;
}

.c-white {
    color: white;
}

.c-white:hover {
    color: black;
}

.i-lg:hover {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.ml-50 {
    margin-left: 30px;
}

.fs-7 {
    font-size: 14px;
}

.btn-pink {
    color: #fff;
    background-color: #e20074;
    border-color: #e20074;
}

.btn-pink:hover {
    color: #e20074;
    background-color: #fff;
    border-color: #e20074;
}

.bg-form {
    background-image: url(../img/vecteezy_abstract-modern-white-and-grey-background-texture_6051267.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-visible:hover {
    visibility: visible !important;
}

.ff-b {
    font-family: auto;
}

.ms-12 {
    margin-left: 12%;
}

.page-item>a {
    background: #e20074;
    color: #fff;
    border-radius: 4px;
}

.page-item>a:hover {
    color: #e20074;
    background-color: #fff;
    border-color: #e20074;
    border-radius: 4px;
}

.page-item-selected>a {
    color: #e20074;
    background-color: #fff;
    border-color: #e20074;
    border-radius: 4px;
}

.h-580 {
    height: 580px;
}

.jumbotron {
    padding: 2rem 1rem;
    background-image: url(/img/1720.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bigTitle {
    font-size: 6.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #e20074 !important;
}

.homeText {
    font-size: 2.5rem;
    color: #e20074 !important;
}

.container {
    max-width: 960px;
}

.unete {
    margin-top: 35%;
    margin-left: 20%;
}

.nuestroEquipo {
    font-size: 3rem;
}

.form-check-pink:checked {
    background-color: #e20074!important;
    border-color: #e20074!important;
}