<div class="container my-md-4 bd-layout pb-5">
    <form action="index.html" method="post">
        <div class="row">
            <div class="col-md-2 col-sm-1"></div>
            <div class="col-md-8 col-sm-10">
                <div class="mb-3 mt-5">
                    <label for="usuario" class="form-label">Usuario <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="usuario">
                </div>
                <div class="mb-3">
                    <label for="contraseña" class="form-label">Contraseña <span class="text-danger">*</span></label>
                    <input type="password" id="contraseña" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="vcontraseña" class="form-label">Verifica contraseña <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="vcontraseña">
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="nombre">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="mb-3 pb-3">
                    <label for="telefono" class="form-label">Teléfono <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="telefono">
                </div>

                <p class="mb-4"> <span class="text-danger">*</span> Campo Obligatorio</p>
                <button class="btn btn-pink rounded-1 ">Acceder</button>
            </div>
            <div class="col-md-2 col-sm-1"></div>
        </div>
    </form>
</div>
