<div class="pb-4"></div>

<div class="container my-md-4 pb-5 mb-5">
    <div class="row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10">
            <div class="mb-3 mt-5">
                <label for="titulo" class="form-label">Nombre Autor</label>
                <input type="text" class="form-control" id="titulo" [(ngModel)]="author.nameSurname" />
            </div>

    <button class="btn btn-pink rounded-1 " routerLink="/adminPanelAuthor/" (click)="updateAuthor()">Guardar</button>
        </div>
        <div class="col-md-2 col-sm-1"></div>
    </div>
</div>

<div class="pb-4"></div>
<div class="pb-5"></div>
