<div class="container my-md-4 pb-5 mb-5">
    <h2 class="pt-2">Propietario: {{data.usuario.name}}</h2>
    <hr class="px-0 me-5">
    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">

            <img src="https://covers.openlibrary.org/b/isbn/{{data.isbn}}-L.jpg" alt="{{data.title}}">
        </div>

        <div class="col-md-6 col-sm-6">
            <p class="fs-4 mb-2">{{data.title}}</p>
            <hr class="mt-0 me-4">
            <p class="mb-1"><span class="fw-bold"> Editorial:</span> {{data.editorial}}</p>
            <p class="mb-1"><span class="fw-bold"> Autor:</span> {{data.author}}</p>
            <p><span class="fw-bold"> ISBN:</span> {{data.isbn}}</p>
            <span class="fw-bold"> Sinopsis:</span>
            <p>{{data.synopsis}}</p>

            <a href="#" class="btn btn-pink mt-4">Pedir prestado</a>
        </div>
    </div>
</div>

<app-comments></app-comments>
<app-write-comment></app-write-comment>
