<div class="container-books">
  <p class="fs-1 text-pink mb-2">Libros disponibles</p>
  <hr class="mt-0 mb-4">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Introduce el título del libro" [(ngModel)]="title" />
    <div class="input-group-append">
      <button class="btn btn-pink ms-5" type="button" (click)="searchName()">Búsqueda</button>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngFor="let book of books">
      <div class="card" style="width: 15rem">
        <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <hr class="mt-0">
          <p class="card-text mb-1">{{book.author}}</p>
          <p class="card-text mb-1">{{book.editorial}}</p>
          <p class="card-text">{{book.isbn}}</p>
          <a routerLink="/books/{{book.id}}" class="btn btn-pink">Más info</a>
        </div>
      </div>
    </div>
  </div>
</div>
