<app-admin-panel></app-admin-panel>
<div class="container my-md-4 bd-layout pb-5">


    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="table table-striped table-bordered mt-3 table-responsive-sm">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre Editorial</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Acción </th>
                <td mat-cell *matCellDef="let element">
                    <a class="btn btn-success" routerLink="/mod_editorial/{{element.id}}"><i class="bi bi-pencil-square"></i></a>
                    <button class="btn btn-danger" (click)="deleteEditorial()"><i class="bi bi-trash-fill"></i></button>
                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>