<div class="container my-md-4 bd-layout pb-5">
    <form action="index.html" method="post">
        <div class="row">
            <div class="col-md-2 col-sm-1"></div>
            <div class="col-md-8 col-sm-10">
                <div class="mb-3 mt-5">
                    <label for="titulo" class="form-label">Título <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="titulo" required>
                </div>

                <div class="mb-3">
                    <label for="isbn" class="form-label">ISBN <span class="text-danger">*</span></label>
                    <input type="text" id="isbn" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="editorial" class="form-label">Editorial <span
                          class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="editorial" required>
                </div>

                <div class="mb-3">
                    <label for="autor" class="form-label">Autor <span class="text-danger"></span></label>
                    <input type="text" class="form-control" id="autor">
                </div>

                <div class="mb-3">
                    <label for="sinopsis" class="form-label">Sinopsis <span class="text-danger">*</span></label>
                    <textarea type="text" class="form-control" id="sinopsis" required></textarea>
                </div>

                <p class="mb-4"> <span class="text-danger">*</span> Campo Obligatorio</p>
                <button class="btn btn-pink rounded-1 ">Subir</button>
            </div>
            <div class="col-md-2 col-sm-1"></div>
        </div>
    </form>
</div>
