<div class="container pb-5 mb-5">
    <hr class="my-5">
    <h3 class="mb-3">Escribe tu comentario</h3>
    <form action="">
        <input id="radio2" type="radio" name="valuation" value="1" [(ngModel)]="loan.valuation" class="form-check-input form-check-pink">
        <i class="bi bi-star"></i>
        <input id="radio2" type="radio" class="ms-5 form-check-input form-check-pink" name="valuation" [(ngModel)]="loan.valuation" value="2">
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <input id="radio2" type="radio" class="ms-5 form-check-input form-check-pink" name="valuation" [(ngModel)]="loan.valuation" value="3">
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <input id="radio4" type="radio" class="ms-5 form-check-input form-check-pink" name="valuation" [(ngModel)]="loan.valuation" value="4">
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <input id="radio5" type="radio" class="ms-5 form-check-input form-check-pink" name="valuation" [(ngModel)]="loan.valuation" value="5">
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star "></i>
        <i class="bi bi-star "></i>
        <div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Escribe un comentario" id="floatingTextarea" name="comment" [(ngModel)]="loan.comment"></textarea>
                <label for="floatingTextarea">Escribe un comentario</label>
            </div>
        </div>

        <button class="btn btn-pink mt-4" (click)="updateLoan()">Enviar valoración</button>
    </form>
</div>