<div class="container my-md-4 ">
    <h2 class="pt-2 mt-5">Comentarios</h2>
    <hr class="px-0 me-5">

    <div class="mb-5" *ngFor="let loan of loans">
        <div *ngIf="loan.comment != null">
            <p class="fw-bold mb-0">{{loan.usuario.name}}</p>
            <p *ngIf="loan.valuation == 5"><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></p>
            <p *ngIf="loan.valuation == 4"><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></p>
            <p *ngIf="loan.valuation == 3"><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></p>
            <p *ngIf="loan.valuation == 2"><i class="bi bi-star"></i><i class="bi bi-star"></i></p>
            <p *ngIf="loan.valuation == 1"><i class="bi bi-star"></i></p>

            <p>{{loan.comment}}</p>
        </div>
    </div>
</div>
