<div class="container my-md-4 pb-5 mb-5">
  <h2 class="pt-2 mt-5">Comentarios</h2>
  <hr class="px-0 me-5">

  <div class="mb-5">
    <p class="fw-bold mb-0">Nombre</p>
    <p><i class="bi bi-star"></i><i class="bi bi-star"></i></p>
    <p>Harry Potter descubre que es hijo de dos conocidos hechiceros, de los que ha her</p>
  </div>
  <div>
    <p class="fw-bold mb-0">Nombre</p>
    <p><i class="bi bi-star"></i></p>
    <p>Harry Potter descubre que es hijo de dos conocidos hechiceros, de los que ha her</p>
  </div>
</div>
