/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD
.bg-pink {
  background-color: #e20074 !important;
}

.text-pink {
  color: #e20074 !important;
}

.bg-gray {
  background-color: #262626 !important;
}

body {
  font-size: large;
  font-family: TeleNeoWeb-Regular, sans-serif !important;
}
=======
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> c074fc976b8cd077772d96e6240facf10f622f34
