<div class="container my-md-4 bd-layout pb-5">
    <h2>Libros subidos</h2>
    <hr>
    <div class="row mt-4">
        <div class="col-md-3">
            <img src="https://covers.openlibrary.org/b/isbn/9780439362139-M.jpg" class="h-75 w-75" alt="harry harry-potter-piedra-filosofal-minalima-portada">
        </div>
        <div class="col-md-5 mt-3">
            <h5>Harry Potter y la piedra filosofal</h5>
            <hr class="mt-0">
            <p>J.K. Rowling</p>
            <p>salamandra</p>
            <p>9780439362139</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 mt-5 mb-5">
            <button class="btn btn-success mb-4 ">Modificar</button> <br>
            <button class="btn btn-danger">Eliminar</button>
        </div>
    </div>
</div>
