<div class="container my-md-4 bd-layout pb-5">
  <h2>Libros subidos</h2>
  <hr />
  <div class="row mt-4" *ngFor="let book of books">
    <div class="col-md-3">
      <img
        src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg"
        class="h-75 w-75"
        alt="{{book.title}}"/>
    </div>
    <div class="col-md-5 mt-3">
      <h5>{{ book.title }}</h5>
      <hr class="mt-0"/>
      <p>{{ book.author }}</p>
      <p>{{ book.editorial }}</p>
      <p>{{ book.isbn }}</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 mt-5 mb-5">
      <button class="btn btn-success mb-4" routerLink="mod_books/{{book.id}}">Modificar</button> <br />
      <button class="btn btn-danger" (click)="deleteBook(book.id)">Eliminar</button>
    </div>
  </div>
</div>
