<div class="container my-md-4 pb-5 mb-5">
    <div class="row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10">
            <div class="mb-3 mt-5">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="mb-1 mt-4">
                <label for="user" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="user">
            </div>
            <div class="mb-1 mt-4">
                <label for="email" class="form-label">E-mail</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="mb-1 mt-4">
                <label for="phone" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="phone">
            </div>
            <div class="mb-1 mt-4">
                <label for="city" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="city">
            </div>

            <button class="btn btn-pink rounded-1 mt-5" (click)="updateUser()">Guardar</button>
        </div>
        <div class="col-md-2 col-sm-1"></div>
    </div>
</div>